@charset "utf-8";
/* CSS Document */

/*========== header 시작 ==========*/
header {
	display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:center;
    position:fixed; width:100%; padding:0 20px;
    background:rgba(0,0,0,9);
    z-index:99;
    transition: top 0.8s;
}

header.animate { top:-100px; }
header.sticky { top:0; z-index:99; }
a h1 { height:60px; line-height:60px; }


#menu-icon { display:none; }
label {
    position:absolute; width:30px; height:26px; right:3vh; top:16px;
    z-index:99; cursor:pointer;
}
label span {
    display:block; position:absolute; width:100%; height:3px;
    border-radius:30px; background-color:#fff;
    transition:all 0.35s;
}
label span:nth-child(1) { top:0; }
label span:nth-child(2) { top:50%; transform:translateY(-50%); }
label span:nth-child(3) { bottom:0; }

#menu-icon:checked label { z-index:90; }
#menu-icon:checked + label span:nth-child(1) { top:50%; transform:translateY(-50%) rotate(45deg); }
#menu-icon:checked + label span:nth-child(2) { opacity:0; }
#menu-icon:checked + label span:nth-child(3) { bottom:50%; transform:translateY(50%) rotate(-45deg); }


.main-menu {
    position:fixed; right:-700px; top:0;
    width:60%; height:100vh; margin:0 auto;
    background:#aa4590;
    z-index:2;
    transition:all .4s ease-in;
}
#menu-icon:checked ~ .main-menu { right:0; }

.main-menu li { 
    float:none; padding:30px 20%; height:120px;   
    font-size:40px; font-weight:600; text-transform:capitalize;
}
.main-menu li:first-child { margin-top:50%; }
.main-menu li a { color:#fff; font-style:italic; text-align:center; text-transform:capitalize; }
.sub-menu li { display:none; height:0; }

#menu-icon:checked ~ ul { opacity:1; transform:translateX(0); }

.drawer-logo {
    width:280px; height:70px; margin:-20% auto;
    background:#E37D1B;
    font-family:'clinker'; font-size:30px; color:#fff; font-weight:500;
    text-align:center; line-height:65px; 
    border:none; border-radius:40px; box-shadow:3px 6px 2px rgba(0,0,0,0.2);
}
#menu-icon:checked ~ div { opacity:1;  transform:translateX(0); }

.drawer-logo span::before {
	content:attr(data);
	position:absolute;
	color:transparent;
	z-index:1; opacity:0;
	transform:translateY(0);
	animation:animate 1.7s ease-in-out infinite;
}
.drawer-logo span:nth-child(1)::before { animation-delay: 0.0s; }
.drawer-logo span:nth-child(2)::before { animation-delay: 0.4s; }
.drawer-logo span:nth-child(3)::before { animation-delay: 0.6s; }
.drawer-logo span:nth-child(4)::before { animation-delay: 0.8s; }
.drawer-logo span:nth-child(5)::before { animation-delay: 1.0s; }
.drawer-logo span:nth-child(6)::before { animation-delay: 1.2s; }
.drawer-logo span:nth-child(7)::before { animation-delay: 1.4s; }


.side-menu {
    position:absolute; right:-1100px; top:0;
    width:100%; height:100vh;
    background:#930c71;
    text-align:center;
    z-index:1;
    transition:all 0.4s ease-in;
}
#menu-icon:checked ~ .side-menu { right:0; }

.side-menu li { float:none; width:40%; color:#fff; }
.side-menu li:first-child div { 
    width:100px; height:100px; margin:100% auto 0 auto;
    background:url(../images/logo-icon.png) no-repeat center center;
    background-size:cover;
}
.side-menu li:nth-child(2) { width:40%; }
.side-menu li:nth-child(2) div { width:170px; border:1px solid #fff; margin:20% auto 0 auto; }
.side-menu li:nth-child(3) ul { width:70%; height:35px; margin:20% auto 0 auto; }
.side-menu li:nth-child(3) ul li { float: left; width:33.3%; padding:0 2px; }
.side-menu li a { font-size:35px; color:#fff; }
.side-menu li p { width:90%; margin:20% auto; }


.top-menu { cursor:pointer; }
.top-menu li i { font-size:33px; color:#fff; font-weight:500; line-height:60px; }
.top-menu li:first-child i { margin-right:30px; } 
.top-menu li:last-child i { margin-right:110px; }
.top-menu li span { display:none; }

@keyframes animate {
	0% {
		transform: translateY(0px);
		opacity: 0;
	} 
	25% {
		opacity: 1;
	} 
	50% {
		-webkit-text-stroke: 2px #1be329;
	} 
	100% {
		transform: translateY(-20px);
		opacity: 0;
		-webkit-text-stroke: 2px transperent;
	}
}
/*========== header 끝 ==========*/

/*========== Main 시작 ==========*/
.video-container video {
	position:fixed; left:0; top:0;
	min-width:100%; min-height:100%;
}
.video-container::after {
    content:'';
    position:absolute; left:0; top:0;
    display:block; width:100%; height:100%;
    background:rgba(0,0,0,0.2);
    z-index:1;
}

.main-content { position:fixed; width:100%; height:100vh; z-index:10; }
.main-content div:nth-child(1) {
    position:absolute; left:0; top:50%; transform:translateY(-50%); width:20%; height:2px;
    background:rgba(255,255,255,0.5);
}
.main-content div:nth-child(2) {
    position:absolute; left:20%; top:50%; width:60%; padding-left:20px;
    transform:translateY(-50%);
    font-family:'Noto Sans KR', sans-serif; font-size:100px; color:rgba(255,255,255,0.4); font-weight:900;
    letter-spacing:-2px; line-height:90px;
}
.main-content div:nth-child(2) p {
	float:left; width:80%; 
	-webkit-text-stroke-width:2px;
	-webkit-text-stroke-color:rgba(255,255,255,0.7);
}
.main-content div:nth-child(2) p:nth-child(1) { padding-left:10px; }
.main-content div:nth-child(2) a {
	float:right; width:20%; height:50px; margin-top:-65px;
	background:url("../images/arrow-tb.png") no-repeat center center;
	opacity:0.8;
}
.main-content div:nth-child(3) {
    position:absolute; right:0; top:50%; transform:translateY(-50%); width:20%; height:2px;
    background:rgba(255,255,255,0.5);
}

.main-ft {
	position:absolute; bottom:30px; width:100%;
	color:#FFF; font-size:13px; font-style:bold;
	text-align:center;
}

@media screen and (min-width:660px) and (max-width:899px) {
    .main-content div:nth-child(2) { 
        font-size:90px; line-height:85px;
    }
}
@media screen and (min-width:660px) and (max-width:749px) {
    .main-content div:nth-child(2) { 
        font-size:80px; line-height:75px;
    }
}
/*========== Main 끝 ==========*/

/*========== section 공통 ==========*/
h2 { padding-top:250px; font-size:80px; }
h3 { font-size:50px; text-align:center; }
h4 { font-size:20px; text-align:center; }
h5 { font-size:50px; }
h6 { font-size:20px; }
article { width:660px; margin:80px auto; }
.in-bn, .gal-bn, .ra-bn, .lk-bn { height:500px; background-size:cover; }
/*========== section 공통 ==========*/

/*========== Intro 시작 ==========*/
.in-bn { background:url(../images/in-bn-fhd.jpg) no-repeat center center; }

.in-tb-bg {
    height:400px; margin-top:180px;
    background:url(../images/in-bg-fhd.jpg) repeat-x left center;
}
.in-tb-bg div {
    float:left; width:50%; height:400px; margin-top:-50px;
    background:url(../images/in-atc1.jpg) no-repeat center center; 
    background-size:cover;
    animation:fadeRight 0.8s ease-in;
}
.in-tb-bg h5 {
    float:left; width:50%; margin-top:10%; padding:0 40px 0 50px; line-height:1em;
    animation:fadeLeft 0.4s ease 0.3s;
}
.in-tb-bg h6 { float:left; width:50%; padding-left:50px; }
.in-tb-bg p {
    float:left; width:50%; padding:30px 40px 0 50px;
    animation:fadeLeft 1.4s ease 0.5s;
}

.in-pic-top h5 { float:left; width:50%; margin-top:90px; text-align:center; }
.in-pic-top h6 { float:left; width:50%; margin-left:-50%; padding-top:170px; text-align:center; }
.in-pic-top div {
    float:right; width:50%; height:320px;
    background:url(../images/in-atc2.jpg) no-repeat center center; 
    background-size:cover;
}
.in-pic-bottom div {
    float:left; width:50%; height:320px; margin-top:160px;
    background:url(../images/in-atc3.jpg) no-repeat center center; 
    background-size:cover;
}
.in-pic-bottom p { float:right; width:50%; padding:120px 40px; }

.in-fes {
    height:500px; margin-top:80px;
    text-align:center;
    background-size:cover;
    background:url(../images/in-atc4.jpg) no-repeat center center;
}
.in-fes h5 { width:100%; padding-top:160px; color:#FFF; }
.in-fes h6 { color:#FFF; }

.in-btn {	
	width:120px; height:50px; margin:50px auto;
	text-align:center; line-height:45px;
	border:2px solid #CE7119; border-radius:50px; background:#CE7119; overflow:hidden;
	transition:all 0.6s ease-in-out; 
}
.in-fes-btn { color:#FFF; }
.in-fes-text { width:410px; margin:0 auto; padding-top:50px; text-align:center; }

@keyframes fadeRight {
    0% {
        opacity:0;
        transform:translateX(-300px);
    }85% {
        opacity:0.8;
        transform:translateX(-50px);
    }100% {
        opacity:1;
        transform:translateX(0);
    }
}
@keyframes fadeLeft{
    0% {
        opacity:0;
        transform:translateX(60%);
    }50% {
        opacity:0.8;
    }100% {
        opacity:1;
        transform:translate(0%);
    }
}
/*========== Intro 끝 ==========*/

/*========== Gallery 시작 ==========*/
.gal-bn { background:url("../images/gal-bn-fhd.jpg") no-repeat center center; }

.flexslider { width:640px; margin:50px 10px 10px 10px; }

.gal-top-left li a, .gal-top-right li a, .gal-middle li a, .gal-bottom-left li a, .gal-bottom-right li a { margin:10px; background-size:cover; }
.gal-top { width:100%; }
.gal-top li > .gal-top-left { float:left; width:660px; }
.gal-top li > .gal-top-right { float:right; width:660px; }

.gal-top-left li:nth-child(1) a {
    width:310px; height:230px;
    background:url(../images/i1-thumb.jpg) no-repeat center center;
}
.gal-top-left li:nth-child(2) a {
    width:310px; height:230px;
    background:url(../images/i2-thumb.jpg) no-repeat center center;
}
.gal-top-left li:nth-child(3) a {
    width:640px; height:230px;
    background:url(../images/i3-thumb.jpg) no-repeat center center;
}

.gal-top-right li:nth-child(1) a {
    width:310px; height:480px;
    background:url(../images/i4-thumb.jpg) no-repeat center center;
}
.gal-top-right li:nth-child(2) a {
    width:310px; height:230px;
    background:url(../images/i5-thumb.jpg) no-repeat center center;
}
.gal-top-right li:nth-child(3) a {
    width:310px; height:230px;
    background:url(../images/i6-thumb.jpg) no-repeat center center;
}

.gal-middle li:nth-child(1) a {
    width:310px; height:430px;
    background:url(../images/i7-thumb.jpg) no-repeat center center;
}
.gal-middle li:nth-child(2) a {
    width:310px; height:430px;
    background:url(../images/i8-thumb.jpg) no-repeat center center;
}
.gal-middle li:nth-child(3) a {
    width:640px; height:430px;
    background:url(../images/i9-thumb.jpg) no-repeat center center;
}

.gal-bottom { width:100%; }
.gal-bottom li > .gal-bottom-left { float:left; width:660px; }
.gal-bottom li > .gal-bottom-right { float:right; width:660px; }

.gal-bottom-left li:nth-child(1) a {
    width:310px; height:480px;
    background:url(../images/i10-thumb.jpg) no-repeat center center;
}
.gal-bottom-left li:nth-child(2) a {
    width:310px; height:230px;
    background:url(../images/i11-thumb.jpg) no-repeat center center;
}
.gal-bottom-left li:nth-child(3) a {
    width:310px; height:230px;
    background:url(../images/i12-thumb.jpg) no-repeat center center;
}

.gal-bottom-right li:nth-child(1) a {
    width:310px; height:230px;
    background:url(../images/i13-thumb.jpg) no-repeat center center;
}
.gal-bottom-right li:nth-child(2) a {
    width:310px; height:230px;
    background:url(../images/i14-thumb.jpg) no-repeat center center;
}
.gal-bottom-right li:nth-child(3) a {
    width:640px; height:230px;
    background:url(../images/i15-thumb.jpg) no-repeat center center;
}
/*========== Gallery 끝 ==========*/

/*========== Ranking 시작 ==========*/
.ra-bn { background:url("../images/ra-bn-tb.jpg") no-repeat center center; }

.ra-container {
	display: flex;  height: 650px; margin-top: 30px;
	justify-content: center; align-items: center;
	background-color: #fff;
}
.ra-text p { width: 60%; margin:0 auto; text-align: center; line-height: 30px; }


.ra-box {
    display: flex; flex-direction: column; 
	width: 380px; height: 566px; margin: 20px 1vw;
	background-color: #fff;
    border-radius: 0 0 10px 10px; box-shadow: 2px 10px 12px rgba(0,0,0,0.5);
	cursor: pointer;
}
.card-img { width:100%; height: 370px; max-height: 100%; }


#num1, #num2, #num3, #num4, #num5 { position:absolute; width:59px; height:85px; padding-left:350px; z-index:9; }
.ra-box > #num1 { background: url("../images/ra-flag1-hover.png") no-repeat left; }
.ra-box > #num2 { background: url("../images/ra-flag2-hover.png") no-repeat left; }
.ra-box > #num3 { background: url("../images/ra-flag3-hover.png") no-repeat left; }
.ra-box > #num4 { background: url("../images/ra-flag4-hover.png") no-repeat left; }
.ra-box > #num5 { background: url("../images/ra-flag5-hover.png") no-repeat left; }


.ra-details {
	display:flex; flex-direction:column;
    color:#6a6a74; font-weight:bold;
}
.ra-details li { color:#8f8e93; font-size:20px; }
.ra-details li:first-child {
    margin:40px 0 0 30px;
	color:#000; font-size:27px; font-weight:700;
    text-transform:uppercase;
}
.ra-details li:nth-child(2) { margin-left:30px; color:#8f8e93; }
.ra-details li:last-child { text-align:right; margin:30px 50px 0 0; color:#8f8e93; }

.prev-btn { display: none; }

@media screen and (min-width:810px) and (max-width:880px) {
    .ra-box { margin: 20px 15vw; }
}
@media screen and (min-width:660px) and (max-width:809px) {
    .ra-box { margin: 20px 20vw; }
    .prev-btn { display: none; }
    h4 { top: 40%;  left: 50%; }
}
/*========== Ranking 끝 ==========*/

/*========== Link 시작 ==========*/
.lk-bn { background:url("../images/link-bn-fhd.jpg") no-repeat center center; }

.search-box {
	position:relative; left:50%; top:50%; 
	width:350px; height:50px; margin:80px 0 80px 0;
	background:#f7d8ba; border-radius:50px;
	text-decoration:none;
    transform:translate(-50%,-50%);
}
.search-box input {
	float:left; width:0; padding:0;
	color:#000; line-height:50px;
	border:none; outline:none; background:none;
	transition:all 0.4s ease-out;
}
.search-box a {
	float:right; display:flex; justify-content:center; align-items:center;
	width:40px; height:40px; margin:5px 15px 5px 0;
	color:#b14987;
}
.search-box:hover > input { width:250px; padding-left:30px; }
.search-box:hover > a { color:#000; }


.linkbox {
	float:left; width:310px; height:550px; margin:0 10px 20px 10px;
	background:url("../images/link-box.jpg"); cursor:pointer;
    transition:all 0.5s ease-in;
}
.linkbox li { float:none; }
.linkbox li:nth-child(1) img { margin:15px; border-radius:10px; }
.linkbox li:nth-child(2) a { margin:40px 0 0 30px; color: #40135e; font-size:24px; font-weight:bold; }
.linkbox li:nth-child(3) { float:right; width:25px; height:25px; margin:-30px 30px 0 0; }
.linkbox li:nth-child(4) { float:right; margin:10px 30px; 0 0; font-size:16px; color:#8f8e93; }
.linkbox li:nth-child(5) { float:right; margin:-10px 30px 0 0; font-size:16px; color:#8f8e93; } 


.manager-btn{ float:right; margin:50px 30px 80px 0; }
.manager-btn button {
    width:120px; height:40px; margin-left:10px;
    background:#FFF;
    border:1px solid #E37D1B; border-radius:50px; cursor:pointer; 
    transition:all 0.3s ease-in;
}
.manager-btn button a{ color:#E37D1B; }
.manager-btn button:hover {
    background:#E37D1B;
    box-shadow:0 14px 18px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.manager-btn button:hover a { color:#FFF; }

@media screen and (min-width:660px) and (max-width:678px) {
    .linkbox { margin:0 5px 20px 5px; }
}
/*========== Link 끝 ==========*/

/*====footer====*/
footer { height:300px; margin-top:80px; }
.ft-wrap { width:320px; margin:0 auto; padding-top:20px; }
footer h1 { margin-bottom:20px; text-align:center; }
footer p { font-size:13px; text-align:center; line-height:20px; }

.sns { width:165px; height:35px; margin:0 auto; padding-top:20px;}
.sns li { text-align:center; }
.btn {
    width:35px; height:35px; margin:10px;
    border-radius:30%; box-shadow:0 5px 15px -5px #000070;
    color:#E37D1B; background:#E8E8E8; text-align:center;
}
.btn i { font-size:23px; line-height:35px; }
/*========== footer 끝 ==========*/
